@fontface {
  src: url('https://fonts.googleapis.com/css?family=Open+Sans');
  name: "Open Sans";
}

body {
  background-color: #EEE;
  font-family: helvetica;
}

.progress-bar {
  background-color: hsl(40, 80%, 30%);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.inner-bar {
  background-color: hsl(40, 80%, 80%);
  opacity: 0.8;
  border-radius: 5px;
  margin: 0 5px;
  z-index: 1;
  transition: width 1s;
}

.target-bar {
  color: hsl(120, 80%, 80%);
  border-radius: 5px;
  border: 4px dashed;
  margin: 0 5px;
  position: absolute;
  z-index: 0;
  transition: width 0.5s;
  -moz-transition: width 0.5s;
}

.progress-display {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #DDF;
  padding: 30px 50px 30px 50px;
  border: 1px solid black;
}

.progress-display p {
  font-size: 10px;
  text-align: center;
}

.main-container h1 {
  z-index: 5;
  position: absolute;
  left: 50px;
  font-style: italic;
}

.outer-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  position: absolute;
  left: 50px;
  top: 55px;
  background-color: #DDE6DD;
}

.description {
  width: 400px;
}

.description h2 {
  margin-bottom: 20px;
  margin-top: 50px;
}

.description p {
  margin-top: 20px;
}

svg {
  background-color: #DDF;
}

.data-entry {
  display: inline-flex;
  flex-direction: column;
  background-color: #DDF;
  border: 1px solid black;
  padding: 10px 50px;
}

.data-form-box {
  height: 20px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 300px 100px 100px;
  grid-column-gap: 10px;
}

.example-exit-active {
  opacity: 0;
  height: 0;
  margin: 0;
  transition: opacity 0.5s, height 0.5s, margin 0.5s;
}

.data-form-box label {
  font-weight: bold;
}

#pbar-title {
  text-align: center;
}

#update-button {
  margin-top: 20px;
}
